@model project2.Models.Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<div>
    <img src="~/WhatsApp Image 2022-05-26 at 8.53.27 PM.jpeg" style="background-color:white" width="80" height="50" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</div>
<hr />
<div class="topnav">
    <a asp-area="" asp-controller="Home" asp-action="Homepage" role="button">Home</a>
    <a class="active" asp-area="" asp-controller="Home" asp-action="Shirts" role="button">Shirts</a>
    <a asp-area="" asp-controller="Home" asp-action="Pants" role="button">Pants</a>
    <a asp-area="" asp-controller="Home" asp-action="Suits" role="button">Suits</a>
    <a asp-area="" asp-controller="Home" asp-action="landingpage" role="button">Logout</a>
</div>
<br />
<br />
<table border="0">
    <tr>
        <td width="100" style="font-size:20px;color:white">
            <img src="https://cdn.shopify.com/s/files/1/0752/6435/products/3_3f172c1a-9ce1-4bcd-bf2a-c6696522ce5e_765x.jpg?v=1624280971" width="250" height="300" />
        </td>
        <td>
            &nbsp;&nbsp;&nbsp;
            <h1>Sollen Alley Cotton Shirt</h1>
            <h3>(Slim Fit)</h3>
            <input type="checkbox" value="S" />
            <label>S</label>
            <input type="checkbox" value="M" />
            <label>M</label>
            <input type="checkbox" value="L" />
            <label>L</label>
</tr>
</table>
<br />
<table>
    <tr>
        <td>
            <h3> ₹ 1150  <input type="submit" value="Buynow" class="btn btn-primary" /> </h3>
        </td>
    </tr>
</table>
<hr />
<br />
<br />
<table>
    <tr>
        <td width="100" style="font-size:20px;color:white">
            <img src=" https://cdn.shopify.com/s/files/1/0752/6435/products/NEUTRONSYELLOWSHIRT_4_1452x1799.jpg?v=1632838345" width="250" height="300" />
        <td>
            &nbsp;&nbsp;&nbsp;
            <h1>American Terrain Cotton Shirt</h1>
            <h3>(Regular Fit)</h3>
            <input type="checkbox" value="S" />
            <input type="checkbox" value="M" />
            <input type="checkbox" value="XL" />
        </td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td>
            <h3> ₹ 1350  <input type="submit" placeholder     ="Buynow" class="btn btn-primary" /> </h3>
        </td>
    </tr>
</table>