@model project2.Models.Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<div>
    <img src="~/WhatsApp Image 2022-05-26 at 8.53.27 PM.jpeg" style="background-color:white" width="80" height="50" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</div>
<hr />
<div class="topnav">
    <a asp-area="" asp-controller="Home" asp-action="Homepage" role="button">Home</a>
    <a asp-area="" asp-controller="Home" asp-action="Shirts" role="button">Shirts</a>
    <a asp-area="" asp-controller="Home" asp-action="Pants" role="button">Pants</a>
    <a class="active" asp-area="" asp-controller="Home" asp-action="Suits" role="button">Suits</a>
    <a asp-area="" asp-controller="Home" asp-action="landingpage" role="button">Logout</a>
</div>
<br />
<br />
<table>
    <tr>
        <td width="100" style="font-size:20px;color:white">
            <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/10241781/2019/7/29/f2fd8a56-571f-4630-9815-cce9a06da5a61564383030791-Louis-Philippe-Men-Suits-9401564383030075-2.jpg " width="250" height="300" />
        <td>

            <h1>Daymor Blazer</h1>
            <h4>(Darring Maroon)</h4>
            <input type="checkbox" value="S" />
            <input type="checkbox" value="M" />
            <input type="checkbox" value="L" />
        </td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td>
            <h3> ₹ 7999  <input type="submit" value="Buynow" class="btn btn-primary" /> </h3>
        </td>
    </tr>
</table>
<hr />
<br />
<br />
<table>
    <tr>
        <td width="100" style="font-size:20px;color:white">
            <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/18026992/2022/4/25/39db8fae-591c-408a-a795-a32906991eeb1650897458014BlackberrysMenOrangeSolidSuperSlim-FitSingle-BreastedTwo-Pie1.jpg" width="250" height="300" />
        <td>

            <h1>Daymor Blazer</h1>
            <h4>(Racing Orange)</h4>
            <input type="checkbox" value="S" />
            <input type="checkbox" value="M" />
            <input type="checkbox" value="L" />
        </td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td>
            <h3> ₹ 6999  <input type="submit" value="Buynow" class="btn btn-primary" /> </h3>
        </td>
    </tr>
</table>